@tailwind base;
@tailwind components;
@tailwind utilities;

/* target all bullets */

span.swiper-pagination-bullet {
  background-color: #ffa0005f;
  opacity: 0.75;
  transition: all 1s;
  width: 25px;
  border-radius: 20px !important;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 40px;
  background-color: #ffa000;
  /* background-image: linear-gradient(to right, #0080ff, #f472b6, #ffa000); */
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  font-size: smaller;
  /* padding: 100px; */
  color: #ffa000 !important;
  fill: #ffa000 !important;
  stroke: #ffa000 !important;
}

@media only screen and (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
