@tailwind base;
@tailwind components;
@tailwind utilities;

/* target all bullets */
span.swiper-pagination-bullet {
  background-color: #ffa0005f;
  opacity: 0.75;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  border-radius: 20px !important;
  width: 20px;
  background-color: #ffa000;
  background-image: linear-gradient(to right, #0080ff, #f472b6, #ffa000);
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  font-size: larger;
  color: #ffa000 !important;
  fill: #ffa000 !important;
  stroke: #ffa000 !important;
}

@media only screen and (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}
